<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.booking.model.dao.BookingDao">
  <select id="selectMovieList" resultType="movie">
  	select * from movie_tbl where movie_status = 2
  </select>
  
  <select id="selectDateList" resultType="string">
  	select to_char(sysdate + (level-1), 'yyyy-mm-dd') as week  
	from dual connect by level <![CDATA[ <= ]]>7 
  </select>
  <select id="selectSchedule" resultType="schedule">
  	select *
  		from schedule_tbl s
  		join movie_tbl m using(movie_no)
  	<if test="movieNo != -1 and movieDate == ''">
  		where schedule_time_start >= sysdate and movie_no = #{movieNo}
  	</if>
  	<if test="movieNo == -1 and movieDate != ''">
  		where schedule_time_start >= sysdate and to_char(schedule_time_start, 'yyyy-mm-dd') like '%'||#{movieDate}||'%'
  	</if>
  	<if test="movieNo != -1 and movieDate != ''">
  		where schedule_time_start >= sysdate and movie_no = #{movieNo} and to_char(schedule_time_start, 'yyyy-mm-dd') like '%'||#{movieDate}||'%'
  	</if>
  	
  </select>
  <select id="selectScreenSeat" resultType="seat">
  	select * from seat_tbl where screen_no = #{screenNo}
  </select>
  
  <select id="selectRowList" resultType="string">
  	select distinct seat_row from seat_tbl where screen_no =#{screenNo}
  	order by 1
  </select>
  
  <select id="selectOneRow" resultType="seat">
  	select * from seat_tbl where screen_no=#{screenNo} and seat_row = #{row} order by 2 asc
  </select>
</mapper>
