<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.booking.model.dao.BookingDao">
  <select id="selectMovieList" resultType="movie">
  	select * from movie_tbl where movie_status = 2
  </select>
  
  <select id="selectDateList" resultType="string">
  	select to_char(sysdate + (level-1), 'yyyy-mm-dd') as week  
	from dual connect by level <![CDATA[ <= ]]>7 
  </select>
  <select id="selectSchedule" resultType="schedule">
  	select * 
    	from (select distinct to_char(schedule_time_start, 'hh24:mi') as schedule_time_start, 
    		to_char(schedule_time_end, 'hh24:mi') as schedule_time_end ,
    		s.schedule_no,
    		m.movie_title, 
    		s.screen_no , 
    		m.movie_type, 
    		m.movie_grade,
    		movie_no
  				from schedule_tbl s
  				left join movie_tbl m using(movie_no)
  			where to_date(schedule_open, 'yyyy-mm-dd') <![CDATA[ <= ]]> to_date(sysdate, 'yyyy-mm-dd') 
  			and to_date(schedule_close, 'yyyy-mm-dd') <![CDATA[ >= ]]> to_date(sysdate, 'yyyy-mm-dd'))
    where schedule_time_start <![CDATA[ >= ]]> to_char(sysdate, 'hh24:mi')
    <if test="movieNo == -1">
    order by schedule_time_start asc
    </if>
    <if test="movieNo != -1">
    and movie_no = #{movieNo}	
	order by schedule_time_start asc
    </if>
  
  </select>
  <select id="selectScreenSeat" resultType="seat">
  	select * from seat_tbl where screen_no = #{screenNo}
  </select>
  
  <select id="selectRowList" resultType="string">
  	select distinct seat_row from seat_tbl where screen_no =#{screenNo}
  	order by 1
  </select>
  
  <select id="selectMoviePrice" resultType="price">
  	select price, movie_type, price_per_age from price_tbl where movie_no = #{movieNo}
  </select>
  
  <select id="selectOneRow" resultType="seat">
  	select * from seat_tbl where screen_no=#{screenNo} and seat_row = #{row} order by 2 asc
  </select>
  
  <select id="selectOneMovie" resultType="movie">
  	select * from movie_tbl where movie_no = #{movieNo}
  </select>
  
  <select id="selectOneMemberNo" resultType="member">
  	select member_no from member_tbl where member_id = #{memberId}
  </select>
  
  <select id="selectCoupon" resultType="coupon">
  	select * from coupon_box_tbl join coupon_tbl using(coupon_no) where member_no=#{memberNo} and use_status = 'n'
  </select>
  
  <select id="selectOneMember" resultType="member">
  	select * from member_tbl where member_id =#{memberId}
  </select>
  <update id="useCoupon">
  	update coupon_box_tbl set use_status = 'y' where coupon_no =#{couponNo} and member_no =#{memberNo}
  </update>
  
  <select id="getPriceNo">
  	select price_no from price_tbl where movie_no is null and price_per_age =#{i} 
  </select>
  <select id="getBookNo" resultType="int">
  	select book_no from book_tbl where member_no = #{memberNo} and schedule_no =#{scheduleNo} and to_char(booking_date, 'yyyy-mm-dd hh24:mi') = to_char(#{bookingDate}, 'yyyy-mm-dd hh24:mi')
  </select>
  <select id="getSeatNo" resultType="int">
  	select seat_no from seat_tbl where seat_row = #{bookSeatRow} and seat_column = #{bookSeatColumn}
  </select>
  
  <insert id="insertBooking">
  	insert into book_tbl values(book_seq.nextval, #{priceNo} , #{scheduleNo}, #{bookingDate} , #{memberNo})
  </insert>
  
  <insert id="insertBookSeat">
  	insert into book_seat_tbl values(book_seat_seq.nextval, #{bookNo}, #{bookSeatRow}, #{bookSeatColumn} , #{seatNo})
  </insert>
  
  <insert id="insertPayment">
  	insert into pay_tbl values(pay_seq.nextval,#{movieTitle},#{payPrice},sysdate,)
  </insert>
  
</mapper>
