<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<!-- 회원가입 -->
	<select id="checkEmail">
		select count(*) from member_tbl where member_email = #{memberEmail}
	</select>
	<select id="checkId">
		select count(*) from member_tbl where member_id = #{memberId}
	</select>
	<insert id="insertMember"> <!-- 회원으로 가입 //멤버쉽은 회원가입시 동일하게 1(nomal)로 들어갈겨-->
		insert into member_tbl values(member_seq.nextval, #{memberId}, #{memberPw},#{memberEmail},#{memberName},to_char(to_date(#{memberBirth}),'YYYY-MM-DD'), #{memberGender}, #{memberPhone},to_char(sysdate, 'yyyy-mm-dd'),2,1)
	</insert>
	<!-- insertMember와 동시에 웰컴쿠폰 발급          // 컬럼 추가 예정-> 수정 필요 -->
	<insert id="wellcomCoupon">
		insert into coupon_box_tbl values(coupon_box_seq.nextval, 1, (select member_no from member_tbl where member_id=#{memberId}), 'n', to_char(sysdate,'YYYY-MM-DD'), to_char(sysdate+365,'YYYY-MM-DD'))
	</insert>
	<!-- 쿠폰 만료시점 자동 소멸 구현 예정 -->
	

	<!-- 로그인 -->
	<select id="login" resultType="member">
		select * from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- 아이디찾기 -->
	<select id="searchId" resultType="string">
		select member_id from member_tbl where member_name = #{memberName} and member_email=#{memberEmail}
	</select>
	
	<!-- 비밀번호찾기 -->
	<select id="searchPw" resultType="int">
		select count(*) from member_tbl where member_name = #{memberName} and member_id = #{memberId} and member_email=#{memberEmail}
	</select>
	<update id="updatePw">
		update member_tbl set
  		member_pw = #{memberPw}
  	where member_email=#{memberEmail}
	</update>
	
	<!-- 내정보 -->
	<select id="selectMember" resultType="member">
		select * from member_tbl where member_id=#{memberId}
	</select>
	<select id="memberCouponCount" resultType="int">
		select count(*) as coupon_no from coupon_box_tbl where member_no=#{memberNo} and use_status='n'
	</select>
	<select id="memberWatchingMovieCount" resultType="int">
		select count(*)
			from book_tbl b
			join book_seat_tbl s on(s.book_no = b.book_no)
			join pay_tbl p on (s.book_seat_no = p.book_detail_no)
		where b.member_no = #{memberNo}
	</select>
	<!-- 쿠폰 모달 -->
	<select id="selectCoupon" resultType="coupon">
		select c.coupon_name, c.coupon_disscount, b.coupon_box_issue_dt, b.coupon_box_expire_dt 
			from coupon_tbl c
			join coupon_box_tbl b on (b.coupon_no = c.coupon_no) 
			join member_tbl m on (m.member_no= b.member_no)
			where member_id=#{memberId} and use_status='n'
		order by coupon_box_issue_dt asc
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember">
		delete from member_tbl where member_id=#{memberId}
	</delete>
</mapper>
