<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<!-- Join -->
	<select id="checkEmail">
		select count(*) from member_tbl where member_email = #{memberEmail}
	</select>
	<select id="checkId">
		select count(*) from member_tbl where member_id = #{memberId}
	</select>
	
	<!-- Login -->
	<select id="login">
		select count(*) from member_tbl where member_id = #{memberId} and member_pw = #{memberPw} 
	</select>
	
</mapper>
