<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.movie.model.dao.MovieDao">
  <select id="selectMovieList" resultType="movie">
  	select movie_no,movie_title, movie_thumb, movie_grade, movie_content 
  		from movie_tbl
  		
  </select>
  
  <select id="selectOneMovie" resultType="movie">
  	select * from movie_tbl where movie_no = #{movieNo}
  </select>
  
  <insert id="likePush">
  	insert into movie_like_tbl values(#{movieNo},#{memberId})
  </insert>
  
  <select id="isLike" resultType="int">
  	select count(*) from movie_like_tbl where movie_no =#{movieNo} and member_id = #{memberId}
  </select>
  
  <select id="totalLike" resultType="int">
  	select count(*) from movie_like_tbl where movie_no =#{movieNo}
  </select>
  
  <delete id="likeUnPush">
  	delete from movie_like_tbl where movie_no =#{movieNo} and member_id = #{memberId}
  </delete>
  
  <select id="selectBoxOffice" resultType="movie">
  <![CDATA[
  	select 
    	m.movie_no,
    	m.movie_title, 
    	m.movie_thumb, 
    	m.movie_grade, 
    	m.movie_content,
    	count(c.book_no) gallery_count 
	from movie_tbl m 
	left join price_tbl p on (p.movie_no = m.movie_no)
	left join book_tbl b on (b.price_no = p.price_no)
	left join (select bs.book_no from pay_tbl p join book_seat_tbl bs on (bs.book_seat_no = p.book_seat_no)) c on (c.book_no = b.book_no) 
	where (m.movie_status != 3 and to_number(sysdate-b.booking_date) <= 7) or (m.movie_status != 3 and b.booking_date is null)
	group by m.movie_no,m.movie_title, m.movie_thumb, m.movie_grade, m.movie_content
	order by gallery_count desc
	 ]]>
  </select>
  
</mapper>
