<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.cs.notice.model.dao.NoticeDao">
	<select id="totalCount" resultType="int">
		select count(*) from notice_tbl
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(*) from notice_tbl where notice_title like '%'||#{noticeTitle}||'%'
	</select>
	
	<select id="selectNoticeList" resultType="notice">
		select * from
	        (select rownum as rnum, b.*
	            from
	                (select 
	                    notice_no, 
	                    notice_title, 
	                    notice_date
	                from notice_tbl order by notice_no desc)b)
	    where rnum between #{start} and #{end}
	</select>
	
	<select id="searchNoticeList" resultType="notice">
		select * from
	        (select rownum as rnum, b.*
	            from
	            	(select
	            		notice_no, 
	                    notice_title, 
	                    notice_date 
	            	from notice_tbl 
	            	where notice_title like '%'||#{noticeTitle}||'%'
	            	order by notice_no desc)b)
	    where rnum between #{start} and #{end}     	
	</select>
	
	<insert id="insertNotice">
		insert into notice_tbl values(notice_seq.nextval,#{memberId},#{noticeTitle},#{noticeContent},to_char(sysdate,'yyyy-mm-dd'))
	</insert>
	
	<insert id="insertNoticeFile">
		insert into notice_file_tbl values(notice_file_seq.nextval,#{noticeNo},#{filename},#{filepath})
	</insert>
	
	<select id="getNoticeNo" resultType="int">
		select notice_seq.nextval from dual
	</select>
	
	<select id="selectOneNotice" resultType="notice">
		select * from notice_tbl where notice_no = #{noticeNo}
	</select>
	
	<select id="selectNoticeFileList" resultType="noticeFile">
		select * from notice_file_tbl where notice_no = #{noticeNo}
	</select>
	
	<delete id="deleteNotice">
		delete from notice_tbl where noticeNo = #{noticeNo}
	</delete>
	
	<update id="updateNotice">
		update notice_tbl set notice_title = #{noticeTitle}, notice_content = #{noticeContent} where notice_no = #{noticeNo}
	</update>
	
	<select id="selectDelNoticeFileList" resultType="noticeFile">
		select * from notice_file_tbl where notice_file_no in
		<foreach collection="array" item="noticeFileNo" open="(" close=")" separator=",">
			#{noticeFileNo}
		</foreach>
	</select>
	
	<delete id="deleteBoardFile">
		delete from notice_file_tbl where notice_no in
		<foreach collection="array" item="noticeFileNo" open="(" close=")" separator=",">
			#{noticeFileNo}
		</foreach>
	</delete>
</mapper>
