.side-menu-box {
  width: 210px;
  height: 52px;
  background-color: #444;
  line-height: 52px;
  text-align: center;
  border-radius: 8px;
}
.side-menu-box > div {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.cs-wrap {
  display: flex;
  gap: 60px;
}
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 6px;
  width: 794px;
  border-bottom: 2px solid #666;
}
.detailWrap {
  border: none;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.add-icon > svg {
  font-size: 2em;
  cursor: pointer;
}
.posting-wrap {
  margin-top: 12px;
}
.input-wrap {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}
.info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--gray3);
  border-radius: 8px;
  padding: 10px;
  background-color: var(--gray5);
}
.input-wrap > input {
  text-align: center;
  height: 28px;
  width: 210px;
  border: 1px solid var(--gray4);
  border-radius: 8px;
  margin-left: 430px;
}
.input-wrap > button {
  width: 64px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--main5);
  color: #fff;
  font-family: ns-b;
  cursor: pointer;
}
.list-wrap {
  padding: 8px;
}
.list-wrap .tbl {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid var(--gray4);
  overflow: hidden;
}
.tbl > thead {
  background-color: var(--gray5);
  height: 40px;
}

.tbl > tbody > tr {
  height: 40px;
}
.tbl > tbody > tr:hover {
  background-color: var(--main6);
  cursor: pointer;
}
.tbl tr + tr td {
  border-top: 1px solid #ddd;
}
.page-navi {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
.input-title {
  margin: 16px 24px 0 0;
  font-family: ns-b;
  font-size: 20px;
}
.frm-wrap input {
  border: 2px solid var(--gray3);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  height: 42px;
  padding: 0 20px;
}
.add-file {
  display: flex;
  min-height: 42px;
  border: 2px solid var(--gray3);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
}
.add-file p {
  display: flex;
  gap: 10px;
}
.quill {
  overflow-y: auto;
  margin-top: 16px;
}
.ql-container {
  height: 240px !important;
}
.ql-editor {
  min-height: 200px;
}
.btn-zone {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 18px;
}
.btn-zone > .btn-red {
  width: 72px;
}
.writeBtn > .btn-red {
  width: 96px;
}
.updateButton > .btn-red {
  width: 96px;
}
.writer {
  font-family: ns-b;
}
.notice-content-wrap {
  height: 360px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--gray3);
  background-color: var(--main3);
  overflow-y: auto;
}
.file-zone {
  border: 2px solid var(--gray3);
  background-color: var(--main3);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  height: 42px;
}
