.side-menu-box {
  width: 210px;
  height: 52px;
  background-color: #444;
  line-height: 52px;
  text-align: center;
  border-radius: 8px;
}
.side-menu-box > div {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.cs-wrap {
  display: flex;
  gap: 60px;
}
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 6px;
  width: 794px;
  border-bottom: 2px solid #666;
}
.detailWrap {
  border: none;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.add-icon > svg {
  font-size: 2em;
  cursor: pointer;
}
.posting-wrap {
  margin-top: 12px;
}
.input-wrap {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}
.info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--gray3);
  border-radius: 8px;
  padding: 10px;
  background-color: var(--gray5);
}
.select-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.input-wrap > input {
  text-align: center;
  height: 30px;
  width: 210px;
  border: 1px solid var(--gray4);
  border-radius: 8px;
  margin-left: 60px;
}
.input-wrap > button {
  width: 64px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--main5);
  color: #fff;
  font-family: ns-b;
  cursor: pointer;
}
.input-wrap2 {
  display: flex;
  gap: 10px;
}
.input-wrap2 > input {
  text-align: center;
  height: 30px;
  width: 210px;
  border: 1px solid var(--gray4);
  border-radius: 8px;
  margin-left: 60px;
}
.input-wrap2 > button {
  width: 64px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--main5);
  color: #fff;
  font-family: ns-b;
  cursor: pointer;
}

.list-wrap .tbl {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid var(--gray4);
  overflow: hidden;
}
.tbl > thead {
  background-color: var(--gray5);
  height: 40px;
}

.tbl > tbody > tr {
  height: 40px;
}
.tbl > tbody > tr:hover {
  background-color: var(--main6);
  cursor: pointer;
}
.tbl tr + tr td {
  border-top: 1px solid #ddd;
}
.page-navi {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
.input-title {
  margin: 16px 24px 0 0;
  padding-left: 6px;
  font-family: ns-b;
  font-size: 20px;
}
.frm-wrap {
  display: flex;
  flex-direction: column;
}
.frm-wrap input {
  border: 2px solid var(--gray3);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  height: 42px;
  padding: 0 20px;
}
.add-file {
  display: flex;
  min-height: 42px;
  border: 2px solid var(--gray3);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
}
.add-file p {
  display: flex;
  gap: 10px;
}
.quill {
  overflow-y: auto;
  margin-top: 16px;
}
.ql-container {
  height: 240px !important;
}
.ql-editor {
  min-height: 200px;
}
.btn-zone {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 18px;
}
.btn-zone > .btn-red {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.writeBtn > .btn-red {
  width: 96px;
}
.writeBtn > .btn-gray {
  width: 96px;
}
.updateButton > .btn-red {
  width: 96px;
}
.writer {
  font-family: ns-b;
}
.notice-content-wrap {
  height: 360px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--gray3);
  background-color: var(--gray6);
  overflow-y: auto;
}
.pq-content-wrap {
  margin: 16px 0;
  height: 240px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--gray3);
  background-color: var(--gray6);
  overflow-y: auto;
}
.file-zone {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--gray3);
  background-color: var(--gray6);
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  min-height: 42px;
  padding: 8px;
}
.notice-file {
  display: flex;
}
.fileInput {
  margin: 16px 0;
}
.file-zone p {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
}
.noticeDelete {
  width: 72px;
}
.noticeUpdate {
  width: 72px;
}
.pqFileZone {
  width: 100%;
}
.pqFileInput {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 32px;
  align-items: center;
  font-size: 16px;
}
.file-input-wrap {
  width: 50%;
}
.pqFileTitle {
  display: flex;
  width: 50%;
  margin-right: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.sub-title-wrap {
  display: flex;
  gap: 1%;
}
.sub-input-wrap {
  display: flex;
  gap: 2%;
}
.MuiBox-root {
  display: flex;
  align-items: center;
  height: 42px;
}
.category-zone {
  display: flex;
  align-items: center;
  width: 50%;
}
.MuiBox-root label {
  line-height: 1;
  font-family: ns-b;
  color: var(--gray3);
}
.category-zone fieldset {
  border-radius: 8px;
  border: 2px solid #333;
}
.css-18jp67o-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-18jp67o-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-18jp67o-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: ns-b;
  color: var(--gray3);
}
.pq-answer-wrap {
  margin: 20px 0;
  padding: 16px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: var(--gray6);
  font-family: ns-r;
}

.pq-answer-wrap.no-answer {
  border-left: 4px solid #ccc;
  color: #666;
  font-style: italic;
}

.pq-admin-name {
  font-weight: bold;
  margin-bottom: 8px;
}
.pq-answer-content-frm {
  color: #333;
  font-size: 16px;
}
.pq-answer-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.pq-answer-content > button {
  width: 96px;
}
.pq-answer-wrap.not-answered textarea {
  min-height: 180px;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}

.pq-answer-wrap.not-answered .btn-red {
  margin-top: 10px;
  padding: 6px 14px;
  background-color: var(--main6);
  color: #666;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.pq-answer-wrap.not-answered .btn-red:hover {
  background-color: var(--main5);
  color: #fff;
}
.btn-zone > .backBtn {
  background-color: var(--main6);
  color: #666;
  padding: 6px 14px;
  width: 96px;
  transition: 0.2s;
  border: none;
}
.btn-zone > .backBtn:hover {
  background-color: var(--main5);
  color: #fff;
}
