.content-wrap {
  margin-bottom: 90px;
}

.booking-page-title {
  margin-bottom: 30px;
}
.booking-page-title > h3 {
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 25px;
  color: var(--main5);
}
.booking-content-wrap {
  margin: 0 auto;
  width: 900px;
}

.booking-content-header {
  margin: auto;
  width: 80%;
  border: 3px solid transparent;
  background-color: var(--main1);
  overflow: hidden;
  transform: rotate(175deg);
  margin-bottom: 20px;
  padding-left: 10px;
}
.booking-select-wrap {
  display: flex;
  justify-content: left;
}
.booking-content-box {
  margin: 0 auto;
  width: 80%;
  border: 3px solid var(--gray3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 30px;
}

.booking-content-header > div {
  height: 100px;
  float: right;
  transform: skew(135deg);
}

.header-design-black {
  width: 10%;
  background-color: var(--main1);
}
.header-design-white {
  width: 10%;
  background-color: white;
}

.schedule-select-box {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray3);
  align-items: center;
  justify-content: center;
}
[class^="one-schedule"] {
  display: flex;
  height: 50px;
  flex-direction: column;
  border-left: 1px solid var(--gray3);
  border-right: 1px solid var(--gray3);
  align-items: center;
  flex-grow: 1;
}
.schedule-date-box {
  display: flex;
  justify-content: center;
}
[class^="one-schedule"] > div:not([class$="-day"]) {
  width: 100%;
}

[class$="arrow-box"] {
  width: 5%;
  align-content: center;
}

.side-back-arrow-box {
  border-right: 1px solid var(--gray3);
  height: 50px;
}

.side-forward-arrow-box {
  border-left: 1px solid var(--gray3);
  height: 50px;
}

[class^="schedule-"] {
  font-family: ns-b;
  cursor: pointer;
}

[class$="sat"] {
  color: blue;
}

[class$="sun"] {
  color: var(--main5);
}
.booking-movie-select {
  display: flex;
  width: 40%;
  justify-content: left;
  padding-left: 20px;
  flex-wrap: wrap;
}
.booking-movie-list {
  height: 500px;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
  padding-right: 20px;
}

.booking-movie {
  border: 1px solid var(--gray3);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.booking-movie-content:hover {
  box-shadow: 0px 1px 1px var(--gray6);
  text-shadow: 0px 1px 1px var(--gray4);
}

.booking-category-title {
  margin: 10 auto;
  width: 202px;
  text-align: center;
}

.booking-category-title > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.booking-movie-title-box {
  text-align: left;
}
.booking-movie-grade {
  width: 20%;
  display: flex;
  justify-content: center;
}

.booking-movie-grade > img {
  width: 50%;
  object-fit: scale-down;
  height: 35.99px;
}

.booking-schedule-select {
  width: 50%;
}
.booking-schedule-content {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-schedule-zone {
  width: 100%;
  border: 1px solid var(--gray5);
  height: 70px;
  border-radius: 8px;
}

.booking-schedule-title {
  text-align: center;

  margin: 10 auto;
}
.booking-schedule-title > h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.booking-schedule-box {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.booking-schedule-box:hover {
  cursor: pointer;
}

.one-schedule.select {
  background-color: var(--gray4);
  color: var(--main3);
}

.one-schedule.select * {
  background-color: var(--gray4);
  color: var(--main3);
}

.booking-schedule-zone.select {
  background-color: var(--gray4);
  color: var(--main3);
}

.booking-movie.select {
  background-color: var(--gray4);
}
.booking-movie.select > div {
  color: var(--main3);
}

/*-----------------BookingSeat--------------------*/

.screen-select-box {
  width: 1080;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.seat-select-box {
  width: 70%;
  height: 700px;
  background-color: var(--main3);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seat-amount-box {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 600px;
  border: 2px solid var(--gray5);
  border-radius: 8px;
}
.row-box {
  height: 500px;
  justify-content: flex-end;
}
[class^="seat-row"] {
  width: 20px;
  margin-bottom: 10px;
  height: 20px;
  background-color: var(--main1);
  color: var(--main3);
  line-height: 20px;
}

.seat-row13 {
  margin: 0;
}
.screen-box {
  width: 80%;
  height: 30px;
  line-height: 30px;
  font-family: ns-black;
  color: var(--main3);
  background-color: var(--main1);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.seat-wrap {
  display: flex;
  width: 70%;
  height: 500px;
  background-color: var(--main3);
  flex-direction: column;
  justify-content: space-between;
}
.row-box {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: auto;
}
.exit-box {
  width: 40px;
  height: 500px;
  align-self: left;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
}

.seat-box {
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 60px;
  margin: 0 auto;
  padding-top: 5px;
  gap: 5px;
}
[class^="one-row-box"]:not([class$="15"]) {
  display: flex;
  gap: 2px;
  height: 20px;
  padding-top: 5px;
}
[class^="one-seat-box"] {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 2px solid var(--main1);
}
[class$="15"] {
  margin-left: 30px;
}

[class^="one-seat-box"]:not([class~="unselected"]):not(
    [class^="one-seat-box-double"]
  ):hover {
  cursor: pointer;
  background-color: var(--main1);
}

[class^="one-seat-box-double"]:not([class~="unselected"]):hover {
  cursor: pointer;
  background-color: var(--main6);
}

.unselected {
  background-color: var(--gray4);
}

/*----------------------seat-amount-box--------------------*/

.seat-amount-box {
  height: 100%;
}
.price-title {
  margin: 15px;
  text-align: center;
  font-family: ns-b;
  font-size: 20px;
}
.seat-info-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

[class$="-amount"] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.amount-title {
  font-family: ns-b;
  justify-self: left;
  margin-left: 10px;
}

.btn-box {
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.adult-amount {
  margin-top: 30px;
}
[class$="-count"] {
  font-family: ns-b;
}
[class$="-button"] {
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
  border: 2px solid var(--main1);
  align-items: center;
  justify-content: center;
  line-height: 20px;
}

[class$="-button"] span {
  height: 20px;
}

.show-seat-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}
.show-selected-group {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}
.show-selected-seat {
  width: 60px;
  height: 60px;
  border: 2px solid var(--main1);
}

.btn-wrap {
  margin: 0 auto;
  width: 80%;
  cursor: pointer;
  color: var(--gray7);
  background-color: var(--main5);
  text-align: center;
  font-family: ns-b;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  border: 1px solid var(--main5);
  padding: 3px 8px;
  margin-bottom: 20px;
}
.btn-wrap:hover {
  color: var(--main3);
  text-shadow: 3px 2px var(--main6);
  box-shadow: 3px 2px var(--main6);
}
.pay-btn {
  margin: 0 25px;
}

.filled {
  background-color: var(--main1);
  color: var(--main3);
  line-height: 55px;
  font-size: 20px;

  box-sizing: border-box;
}
