.content-wrap {
  margin-bottom: 90px;
}

.booking-page-title {
  margin-bottom: 30px;
}
.booking-page-title > h3 {
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 25px;
  color: var(--main5);
}
.booking-content-wrap {
  margin: 0 auto;
  width: 900px;
}

.booking-content-header {
  margin: auto;
  width: 80%;
  border: 3px solid transparent;
  background-color: black;
  overflow: hidden;
  transform: rotate(175deg);
  margin-bottom: 20px;
  padding-left: 10px;
}
.booking-select-wrap {
  display: flex;
  justify-content: left;
}
.booking-content-box {
  margin: 0 auto;
  width: 80%;
  border: 3px solid var(--gray3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 30px;
}

.booking-content-header > div {
  height: 100px;
  float: right;
  transform: skew(135deg);
}

.header-design-black {
  width: 10%;
  background-color: black;
}
.header-design-white {
  width: 10%;
  background-color: white;
}

.schedule-select-box {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray3);
  align-items: center;
  justify-content: center;
}
[class^="one-schedule"] {
  display: flex;
  height: 50px;
  flex-direction: column;
  border-left: 1px solid var(--gray3);
  border-right: 1px solid var(--gray3);
  align-items: center;
  flex-grow: 1;
}
.schedule-date-box {
  display: flex;
  justify-content: center;
}
[class^="one-schedule"] > div:not([class$="-day"]) {
  width: 100%;
}

[class$="arrow-box"] {
  width: 5%;
  align-content: center;
}

.side-back-arrow-box {
  border-right: 1px solid var(--gray3);
  height: 50px;
}

.side-forward-arrow-box {
  border-left: 1px solid var(--gray3);
  height: 50px;
}

[class^="schedule-"] {
  font-family: ns-b;
  cursor: pointer;
}

[class$="sat"] {
  color: blue;
}

[class$="sun"] {
  color: var(--main5);
}
.booking-movie-select {
  display: flex;
  width: 40%;
  justify-content: left;
  padding-left: 20px;
  flex-wrap: wrap;
}
.booking-movie-list {
  height: 500px;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
  padding-right: 20px;
}

.booking-movie-content {
  border: 1px solid var(--gray3);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.booking-movie-content:hover {
  box-shadow: 0px 1px 1px var(--gray6);
  text-shadow: 0px 1px 1px var(--gray4);
}

.booking-category-title {
  margin: 10 auto;
  width: 202px;
  text-align: center;
}

.booking-category-title > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.booking-movie-title-box {
  text-align: left;
}
.booking-movie-grade {
  width: 20%;
  display: flex;
  justify-content: center;
}

.booking-movie-grade > img {
  width: 50%;
  object-fit: scale-down;
  height: 35.99px;
}

.booking-schedule-select {
  width: 50%;
}
.booking-schedule-content {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-schedule-zone {
  width: 45%;
  border: 1px solid var(--gray5);
  height: 70px;
  border-radius: 8px;
}

.booking-schedule-title {
  text-align: center;

  margin: 10 auto;
}
.booking-schedule-title > h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.booking-schedule-box {
  padding: 10px;
  display: flex;
}
