.movie-page-title {
  margin-bottom: 30px;
}

.movie-page-title > h3 {
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 25px;
  color: var(--main5);
}

.movie-wrap {
  margin: 0 auto;
}

.movie-item {
  position: relative;
}
.movie-list-box {
  width: 1080px;
  margin: 0 auto;
}

.movie-poster {
  width: 270px;
  height: 350px;
  position: relative;
}
.movie-poster > * {
  border-radius: 10px;
  padding: 10px;
}

/****** 여기부터 ******/
.movie-thumb {
  width: 100%;
  object-fit: fill;
  height: 350px;
  transition-duration: 0.5s;
}
.movie-thumb-hide {
  width: 100%;
  object-fit: fill;
  height: 350px;
  opacity: 0.3;
  transition-duration: 0.5s;
}
.movie-content {
  z-index: 3;
  position: absolute;
  width: 270px;
  height: 350px;
  opacity: 0;
  color: white;
  top: 0;
  background-color: rgb(85, 84, 84);
  transition-duration: 0.5s;
}
.show {
  opacity: 0.7;
}
/****** 여기까지 ******/
.movie-poster:hover {
  cursor: pointer;
}

.list-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: none;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-item {
  width: 25%;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.movie-grade {
  width: 20%;
  display: flex;
  justify-content: left;
}
.movie-grade > img {
  width: 50%;
  object-fit: scale-down;
  height: 35.99px;
}
.movie-title {
  line-height: 35.99px;
  text-align: left;
  width: 80%;
  font-family: ns-b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-btn-zone {
  width: 25%;
  border: 2px solid var(--gray4);
  border-radius: 5px;
  text-align: left;
  height: 43.99px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movie-btn-zone > path {
  line-height: 43.99px;
}
.like-btn {
  width: 20%;
  cursor: pointer;
}
.like-count {
  margin-right: 5px;
}
.booking-zone {
  width: 70%;
}

.like-img-pushed {
  text-align: center;
}
.booking-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--main5);
  color: var(--main2);
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-b;
}
.movie-detail-content {
  max-width: 100%;
  margin: 0;
}
.movie-detail-section {
  display: flex;
  background-color: var(--gray5);
  justify-content: center;
}
.movie-detail-title-info-wrap {
  width: 1080px;
  display: flex;
  justify-content: space-around;
}
/*영화 제목*/
.movie-detail-title-name {
  font-family: "ns-black";
  font-size: 32px;
  margin: 24px 0;
}

.movie-middle-info-wrap {
  display: flex;
  gap: 24px;
  margin: 48px 0 24px 0;
}
.movie-middle-info-wrap div {
  font-family: ns-b;
}
.movie-explain {
  margin-bottom: 24px;
  height: 100px;
}
.movie-detail-title-runtime {
  font-family: ns-b;
}
.movie-detail-thumb {
  width: 200px;
  height: 240px;
}
