.login-input {
  border: 1px solid var(--main1);
  padding: 10px 8px;
  margin: 6px 5px;
  border-radius: 5px;
  background-color: var(--main2);
  width: 300px;
}
.login-input-click {
  background-color: var(--gray5);
  box-shadow: 0px 1px 1px var(--gray5);
}
.login-btn {
  width: 315px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
}
.login-other-link {
  margin-top: 6px;
  font-size: 13px;
}
.login-other-link > button {
  font-size: 15px;
}
.login-other-link > a {
  font-size: 15px;
}
.login-other-link > a:hover {
  font-weight: 600;
}
.login-other-link > button {
  border: none;
  background-color: var(--main3);
}
.login-other-link > button:hover {
  font-weight: 600;
}
